body {
	background-color: #EEEEEE;
	background-image: url("colored_grid.png");
	padding-top: 4%;
	font-family: helvetica;
	font-size: 15pt;
	color: #fff;
}
.header {
	margin: 0 auto;
	transform: translateX(-50%);
	-webkit-transform: translate(-50%, 0px);
	-ms-transform: translate(-50%, 0px);
	left: 50%;
	display: inline-block;
	height: 20px;
	padding: 10px;
	border-radius: 5px;
	background-color: #899;
	opacity: .9;
	position: relative;
	z-index: 100;
	color: #ffE;
	text-align: center;
	font-weight: bold;
}
.mainpanel {
	margin-top: 4%;
	margin: auto;
	/*background-color: #f6f6f6;*/
	width: 80%;
	height: 90%;
	border-radius: 5px;
	border: 1px solid #BBB;
	position: relative;
}
.viewarea{
	background-image: url("grid.png");
	width: 80%;
	height: 100%;
	border-radius: 5px;
	float: left;
	z-index: 1;
}
.toolarea{
	width: 20%;
	height: 100%;
	float: left;
	background-color: #fafaf6;
	opacity: .9;
	box-shadow: -2px 0px 5px #bbb;
	border: 1px solid #BBB;
	display: inline-block;
	border-radius: 5px;
	position: absolute;
	z-index: 10;
}
.toolselector{
	padding-top: 15px;
	padding-bottom: 10px;
	width:100%;
	height:50px;
	border-bottom: 1px solid #999;
	border-top: 1px solid #fff;
	position: relative;
}
.textfield{
	font-size: 15pt;
	padding-left: 10px;
	color: #454545;
}
.descriptor{
	padding-left: 10px;
	color: #212121;
	font-weight: bold;
}